<section class="task1">
    <div class="title">Задача 6:
        <p class="title__task">Найти квадрат данного натурального числа, если квадрат любого натурального числа n равен
            сумме n первых нечетных чисел. Составить таблицу квадратов натуральных чисел от 1 до 10000.
        </p>
    </div>
    <div>
        <input #nInput placeholder="ввести n" />
        <button (click)="calcSqr(nInput.value)">Расчитать</button>
        <div>Ответ: {{ sqr }}</div>
        <table>
            <tr>
                <th>i</th>
                <th>sqr(i)</th>
            </tr>
            <tr *ngFor="let i of array">
                <td>{{ i }}</td>
                <td>{{ sqrBack(i) }}</td>
            </tr>
        </table>
    </div>

    <div>
        <input #cInput placeholder="ввести n" />
        <button (click)="cubeSum(cInput.value)">Расчитать</button>
        <div>Ответ: {{ cube }}</div>
    </div>
</section>