<section class="task1">
    <div class="title">Задача 4:
        <p class="title__task">Последовательность 1,1,2,3,5,8,... состоит из чисел Фибоначчи. Каждый элемент, начиная с
            третьего, равен сумме двух предыдущих. Найдите n-е число Фибоначчи. Реализовать вариант с рекурсией и
            вариант без рекурсии. Вывести на экран n строк из символов "*". Количество символов в строке с номером k
            равно k-ому числу Фибоначчи. Вывести на экран все числа Фибоначчи, меньшие данного числа.
        </p>
    </div>
    <div>
        <input #nInput placeholder="ввести n" />
        <button (click)="fib(nInput.value)">Расчитать</button>
        <div>Ответ: {{ result }}</div>
    </div>
</section>