<section class="task1">
  <div class="title">Задача 6:
    <p class="title__task">Ввести число n и заполнить двумерный массив размером n * n числами 1, 2, ... змейкой и по спирали.
    </p>
  </div>

  <div class="results">
    <div>
      <div>Змейка</div>
      <input #nInput
        placeholder="ввести n" />
      <button (click)="createSnake(nInput.value)">Расчитать</button>
      <table>
        <tr *ngFor="let row of snake">
          <td *ngFor="let cell of row">{{ cell }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="results">
    <div>
      <div>Спираль</div>
      <input #kInput
        placeholder="ввести n" />
      <button (click)="createHelix(kInput.value)">Расчитать</button>
      <table>
        <tr *ngFor="let row of helix">
          <td *ngFor="let cell of row">{{ cell }}</td>
        </tr>
      </table>
    </div>
  </div>
</section>
