<section>
    <header>
        <h1>Задачи по программированию</h1>
        <div class="tasks">
            <a class="tasks__link" href="http://www.itmathrepetitor.ru/100-zadach-po-programmirovaniyu/"
                target="_blank">
                посмотреть список задач
            </a>
        </div>
    </header>

    <div class="list">
        <nav class="list__nav">
            <!-- <a href="/task1">Задача 1</a> -->
            <a class="list__nav__link" [routerLink]="['task1']" routerLinkActive="">Задача 1</a>
            <a class="list__nav__link" [routerLink]="['task3']" routerLinkActive="">Задача 3</a>
            <a class="list__nav__link" [routerLink]="['task4']" routerLinkActive="">Задача 4</a>
            <a class="list__nav__link" [routerLink]="['task5']" routerLinkActive="">Задача 5</a>
            <a class="list__nav__link" [routerLink]="['task6']" routerLinkActive="">Задача 6</a>
        </nav>
        <main class="list__page">
            <router-outlet></router-outlet>
        </main>

        <!-- <app-task1></app-task1> -->
    </div>
</section>