<section class="task1">
    <div class="title">Задача 6:
        <p class="title__task">Дан прямоугольник, длины сторон которого выражаются натуральными числами a и b. Из одной
            вершины прямоугольника проводится прямая, которая составляет угол в 45 градусов со сторонами прямоугольника.
            Дойдя до стороны прямоугольника, прямая, не пересекая ее, изламывается под углом 90 градусов. Дойдя до
            другой стороны, она снова изламывается под углом 90 градусов и так далее, пока не дойдет до какой-либо из
            вершин прямоугольника. Определите, из скольких отрезков будет состоят такая ломаная.
        </p>
    </div>
    

    <div class="results">
        <div>
            <div>Колличество отрезков</div>
            <input #aInput placeholder="ввести a" />
            <input #bInput placeholder="ввести b" />
            <button (click)="lines(aInput.value, bInput.value)">Расчитать</button>
            <div>Ответ: {{ result }}</div>
        </div>
    </div>
</section>